/* GENERAL */
*
{
    margin: 0;
    padding: 0;
}

body
{
    background-image: url(../img/background1.png);
    background-repeat: repeat-y;
    background-position: left;
    background-size: 8%;
}

main
{
    background: url(../img/fondo-balon.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.squada{font-family: 'Squada One', cursive;}

.roboto{font-family: 'Roboto', sans-serif;}

.amarillo {color: #E0CC78;}

.verde-o {color: #007038;}

.verde-c {color: #99BF38;}

.blanco{color: white;}

.gris {color: #0E0E0E;}

.bg-amarillo {background-color: #E0CC78;}

.bg-verde-o {background-color: #007038;}

.bg-verde-c {background-color: #99BF38;}

.bg-blanco {background-color: white;}

.bg-gris {background-color: #0E0E0E;}

a
{
    text-decoration: none;
}

p
{
    font-size: 12px;
}


/* HEADER */

/* CONTENT */

label
{
    font-size: 20px;
}

.borde-vc
{
    border: 4px solid #99BF38;
    border-radius: 15px;
}

.borde-a
{
    border: 4px solid #E0CC78;
    border-radius: 15px;
}

.borde-g
{
    border: 4px solid #0E0E0E;
    border-radius: 15px;
}

/* FOOTER */